body {
	background: #444 url('img/body.jpg');
	color: #444;
	font: normal 1.2em Verdana,Arial,sans-serif;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 64px;
}
.gallery img{
	margin:5px;
	border:3px solid #fff;
}
a.photo:hover img{
	border:3px solid #034F80;
}
#main {
	width:858px;
	margin:0 auto;
	background: #4A4A4A;
	color: #CCC;
}
.post_title h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
}
a:hover img{
border:3px solid #034F80;
animation: movement 0.2s infinite;
-webkit-animation: movement 0.2s infinite;
	}
@keyframes movement {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}   
    50% {transform: rotate(0deg);}   
    75% {transform: rotate(-10deg)};
    100% {transform: rotate(0deg);}   
    }
	@-webkit-keyframes movement {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}   
    50% {transform: rotate(0deg);}   
    75% {transform: rotate(-10deg)};
    100% {transform: rotate(0deg);}   
    }

